<div>
  <div class="flex items-center justify-between py-2 px-4 border-b border-lavenderMist">
    <div class="text-ebonyClay font-medium text-base">{{ (type === 'create') ? 'Create User' : 'Update User' }}</div>
    <button mat-icon-button class="close-icon" (click)="onCancel()" [disabled]="isLoading">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="px-4 py-6">
    <form class="w-full md:w-96 flex flex-col items-center justify-center" [formGroup]="form">
      <div class="flex flex-col md:flex-row md:gap-4 w-full">
        <mat-form-field class="w-full">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="fname" placeholder="Enter your first name">
          @if (form.get('fname')?.invalid && (form.get('fname')?.dirty || form.get('fname')?.touched)) {
          <mat-error>
            @if (form.get('fname')?.errors?.['required']) {
            <span>First name is required</span>
            }
          </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lname" placeholder="Enter your last name">
          @if (form.get('lname')?.invalid && (form.get('lname')?.dirty || form.get('lname')?.touched)) {
          <mat-error>
            @if (form.get('lname')?.errors?.['required']) {
            <span>Last name is required</span>
            }
          </mat-error>
          }
        </mat-form-field>

      </div>
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Enter your email">
        @if (form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)) {
        <mat-error>
          @if (form.get('email')?.errors?.['required']) {
          <span>Email is required</span>
          }
          @if (form.get('email')?.errors?.['email']) {
          <span>Invalid email format</span>
          }
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" placeholder="Enter your username">
        @if (form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)) {
        <mat-error>
          @if (form.get('username')?.errors?.['required']) {
          <span>Username is required</span>
          }
        </mat-error>
        }
      </mat-form-field>
    </form>
  </div>
  <div class="flex items-center justify-end gap-4 py-4 px-6 border border-t border-lavenderMist">
    <button mat-raised-button class="discard-button" (click)="onCancel()" [disabled]="isLoading">Cancel</button>
    <button mat-raised-button class="confirm-button" (click)="onSubmit()" [disabled]="form.invalid || isLoading">
      @if (isLoading) {
      <mat-spinner class="form-spinner" strokeWidth="10"></mat-spinner>
      } @else {
      {{ (type === 'create') ? 'Create' : 'Update' }}
      }
    </button>
  </div>
</div>
