.action-button {
  color: #FFF !important;
  background-color: #0E9E73 !important;

  & > .mat-icon {
    height: 24px !important;
    width: 24px !important;
    font-size: 24px !important;
  }
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 100% !important;
  @media (min-width: 768px) {
    min-width: 400px !important;
  }
  min-height: 200px !important;
}
